<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8'>
    <title>Cuztom</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href='style.css'>
  </head>
  <body>
    <header>
      <nav>
      </nav>
    </header>